/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/
#site-nav{
    background-color:#604336;
}
#site-nav .nav-title a {
    color: #ebd070;
}
#site-nav .nav-title a:hover {
    color: #808fc7;
}
#site-nav {
    color: #ebd070;
}
#site-header .nav {
    font-weight: bolder;
}
#header-image{height: 220px;}
a {
	font-weight: bolder;
	}
	
a:hover{border-bottom-color:transparent;color:#808fc7;}

.homepage-header{ margin: 1.5em auto;
    padding: 1em;
    max-width: 55em;
}
.homepage-content {margin: 1.5em auto;
    padding: 1em;
    max-width: 55em;
}
.flyout-menu {
    background-color: #604336;
}
.post{
    box-shadow: 3px 3px 3px #aaaaaa;
    border: 1px solid #d9d9d9;
}
.mini-post{
    box-shadow: 3px 3px 3px #aaaaaa;
        border: 1px solid #d9d9d9;
}
